# для запуска сервиса systemd
# ln -s /var/www/kite/kite.socket /etc/systemd/system/kite.socket
# systemctl daemon-reload

[Unit]
Description=kite socket (zi)

[Socket]
ListenStream=/var/run/kite.sock
SocketUser=www-data

[Install]
WantedBy=sockets.target
