{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'kites/css/styles.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'kites/images/icon.ico' %}" type="image/x-icon">
    <title>{{ title }}</title>
</head>

<body>
    <div class="head">
        <div class="head__left">
            <p>
                <a href="{% url 'home' %}">Kites</a> | 
                <a href="{% url 'experts' %}">Experts</a>
            </p>
        </div>
        <div class="head__right">
            {% if user.is_authenticated %}
            <p>
                    <a href="{% url 'logout' %}">Logout</a>
                </p>
                {% else %}
                <p>
                    <!-- <a href="{% url 'register' %}">Register</a> |  -->
                    <a href="{% url 'login' %}">Login</a>
                </p>
                {% endif %}
        </div>
        <div class="head__user">
            {% if user.is_authenticated %}
            <p>
                <a href="{% url 'kiteadd' %}">Add kite</a> | 
                <a href="{% url 'profile' user %}">{{ user }}</a>
            </p>
            {% endif %}
        </div>
    </div>
    <div class="main">
        <div class="sidenav">
            <div class="sidenav__details">
                <p>
                    <details>
                        <summary>Brands</summary>
                        {% include "kites/sidemenu.html" %}
                    </details>
                </p>
            </div>
            <div class="sidenav__not_details">
                <h1>Brands</h1>
                {% include "kites/sidemenu.html" %}
            </div>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <!-- <div class="bottom"></div> -->
</body>
</html>


<!-- 
    {% if brand_selected == 0 %}
    <li>All</li>
    {% else %}
    {% endif %}
{% if i.pk == brand_selected %}
<li>{{ i.name }}</li>
{% else %}
{% endif %} 
-->

