{% extends 'kites/base.html' %}
{% load static %}

{% block content %}
<h1>{{ title }}</h1>

{% for i in object_list %}

<p class="btn">{{ i.user }}</p>

<p>
    {% if i.photo %}
    <div class="img-block">
        <a href="{{ i.photo.url }}">
            <img class="img-kite" src="{{ i.photo.url }}" alt="Expert photo">
        </a>
    </div>
    {% else %}
    <div class="img-block">
        <img class="img-kite" src="{% static profile_image %}" alt="Expert photo">
    </div>
    {% endif %}
</p>

<p>{{ i.about | linebreaks | truncatechars_html:500 }}</p>

{% if not forloop.last %}
<hr>
{% endif %}

{% endfor %}

{% endblock %}