{% extends 'kites/base.html' %}

{% block content %}
<h1>{{ title }}</h1>


{% for i in object_list %}
<p><a class="btn" href="{% url 'expert' i.expert %}">{{ i.expert }}</a></p>
<p>{{ i.text|linebreaks }}</p>

<p>
    {% if i.photo1 %}
    <div class="img-block">
        <a href="{{ i.photo1.url }}">
            <img class="img-kite" src="{{ i.photo1.url }}/" alt="">
        </a>
    </div>
    {% endif %}
    {% if i.photo2 %}
    <div class="img-block">
        <a href="{{ i.photo2.url }}">
            <img class="img-kite" src="{{ i.photo2.url }}/" alt="">
        </a>
    </div>
    {% endif %}
    {% if i.photo3 %}
    <div class="img-block">
        <a href="{{ i.photo3.url }}">
            <img class="img-kite" src="{{ i.photo3.url }}/" alt="">
        </a>
    </div>
    {% endif %}
    {% if i.photo4 %}
    <div class="img-block">
        <a href="{{ i.photo4.url }}">
            <img class="img-kite" src="{{ i.photo4.url }}/" alt="">
        </a>
    </div>
    {% endif %}
</p>

{% if i.expert == user %}
<p><a href="{% url 'kiteedit' i.name %}">Edit</a></p>
{% endif %}

{% if not forloop.last %}
<hr>
{% endif %}

{% endfor %}

{% endblock %}
