{% extends 'kites/base.html' %}

{% block content %}
<h1>{{ title }}</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for f in form %}
    <div class="form-field">
        <div class="form-label">{{ f.label }}: </div>
        <div>{{ f }}</div>
    </div>
    {{ f.errors }}
    {% endfor %}
    <br>
    <!-- {% if form.instance.photo %}<img src="{{form.instance.photo.url}}" width="70">{% endif %} -->
    <p><button type="submit">Submit</button></p>
</form>
<br>
<p><a href="{% url 'password_reset' %}">I forgot my password</a></p>

{% endblock %}