{% extends 'kites/base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<p>
    {% if object.photo %}
    <div class="img-block">
        <a href="{{ object.photo.url }}" title="open">
            <img class="img-kite" src="{{ object.photo.url }}/" alt="">
        </a>
    </div>
    {% endif %}
</p>
<p>{{ object.about|linebreaks }}</p>
<p><a href="{% url 'expertedit' object.name %}">Edit profile</a></p>
<hr>

<h3>Not published:</h3>

{% for i in not_published %}
<h3>{{ i.brand }} | {{ i.name }}</h3>
<p>Created: {{ i.time_create|date:'Y-m-d H:i' }}</p>
<p>Updated: {{ i.time_update|date:'Y-m-d H:i' }}</p>
<p>{{ i.text }}</p>
<p>
    {% if i.photo1 %}
    <div class="img-block">
        <a href="{{ i.photo1.url }}" title="open">
            <img class="img-kite" src="{{ i.photo1.url }}/" alt="">
        </a>
    </div>
    {% endif %}
    {% if i.photo2 %}
    <div class="img-block">
        <a href="{{ i.photo2.url }}" title="open">
            <img class="img-kite" src="{{ i.photo2.url }}/" alt="">
        </a>
    </div>
    {% endif %}
    {% if i.photo3 %}
    <div class="img-block">
        <a href="{{ i.photo3.url }}" title="open">
            <img class="img-kite" src="{{ i.photo3.url }}/" alt="">
        </a>
    </div>
    {% endif %}
    {% if i.photo4 %}
    <div class="img-block">
        <a href="{{ i.photo4.url }}" title="open">
            <img class="img-kite" src="{{ i.photo4.url }}/" alt="">
        </a>
    </div>
    {% endif %}
</p>
<p><a href="{{ i.get_kiteedit_url }}">Edit</a></p>
<p><a href="{{ i.get_kitedel_url }}">Delete</a></p>

{% if not forloop.last %}
<hr>
{% endif %}

{% endfor %}

{% endblock %}