:root {
    --color1: #007765;
    --color2: #00c3a6;
    --color3: #f5f5dc;
    --color4: #c3001e;
    --color5: brown;
}

:root {
    --color1: #066;
    --color2: #9cc;
    --color3: #ffc;
    --color4: #f96;
    --color5: #f63;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--color3);
    color: #000;
    /* background-image: url(rs_white.webp);
    background-attachment: fixed; */
}

ul {
    padding-inline-start: 0px;
    list-style-type: none;
    font-weight: bold;
}

.page {
    display: inline-block;
    width: 20px;
    background: var(--color4);
    text-decoration: none;
    color: #000;
    text-align: center;
    border-radius: 50%;
    margin: 5px;
    font-size: large;
    padding: 10px;
}

.page:hover {
    background: var(--color5);
}

.current-page {
    background: var(--color5);
}

.form-field {
    display: flex;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.form-label {
    /* display: block; */
    /* float: left; */
    width: 100px;
}

.head {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    background: var(--color1);
    padding: 0px 20px;
    font-size: 24px;
    line-height: 5px;
    color: var(--color2);
}

.head a {
    text-decoration: none;
    color: var(--color2);
}

.head__user {
    width: 100%;
    text-align: right;
}

.head__left {
    width: 50%;
    margin: auto;
    text-align: left;
}

.head__right {
    width: 50%;
    margin: auto;
    text-align: right;
}

.sidenav {
    height: 100%;
    min-width: 130px;
    width: -moz-fit-content;
    width: fit-content;
    position: fixed;
    background-color: var(--color2);
    overflow-x: hidden;
    padding: 50px 30px;
    color: #000;
}

.sidenav a {
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    color: #000;
}

.sidenav a:hover {
    font-size: 24px;
}

.sidenav__details {
    display: none;
    font-size: 24px;
    line-height: 5px;
}

.sidenav__not_details {
    display: unset;
}

.content {
    margin-left: 200px;
    padding: 50px 30px 50px 100px;
}

.anchor {
    margin-top: -150px;
    padding-top: 150px;
}

.btn {
    display: inline-block; /* Строчно-блочный элемент */
    min-width: 200px;
    border-radius: 3px;
    background: var(--color4);
    padding: .5rem 1.5rem;
    text-decoration: none; /* Убираем подчёркивание */
    font-weight: bold;
    color: #000;
}

.btn:hover {
    background: var(--color5);
}

.form-input {
    width: 150px;
    margin-left: 20px;
}

/* .form-error {
    color: brown;
} */

.img-block {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 5px;
    background-size: cover;
    overflow:hidden;
}

.img-kite {
    max-height: 100%;
    max-width: 100%;
    border-radius: 10%;
}

/* .bottom {
    height: 50px;
    width: 100%;
} */


@media screen and (max-width: 576px) {
    .sidenav {
        position: fixed;
        width: 100%;
        height: unset;
        padding: 0px 20px;
    }
    
    .sidenav__details {
        display: unset;
    }
    
    .sidenav__not_details {
        display: none;
    }
    
    .content {
        margin: 0px 20px;
        padding: 70px 0px;
    }
    
    .btn {
        width: -webkit-fill-available;
    }
    
    .img-block {
        width: 150px;
        height: 150px;
    }
}


@media screen and (max-width: 350px) {
    textarea {
        width: 100%;
    }

    .form-field {
        flex-direction: column;
    }
    
    .head {
        font-size: 18px;
    }
    
    .sidenav__details {
        font-size: 18px;

    }

    .img-block {
        width: 100px;
        height: 100px;
    }
}