body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #00c3a6;
    background-color: #f5f5dc;
    /* background-image: url(rs_white.webp);
    background-attachment: fixed; */
}

ul {
    padding-inline-start: 0px;
    list-style-type: none;
    font-weight: bold;
}

label {
    display: block;
    float: left;
    width: 100px;
}

.head {
    position: sticky;
    display: flex;
    top: 0;
    background: #007765;
    padding: 0px 20px;
}

.head__left {
    /* background: blue; */
    width: 50%;
    float: left;
    margin: auto;
    font-size: 24px;
    line-height: 28px;
    color: #f5f5dc;
    color: #000;
    text-align: left;
}

.head__right {
    /* background: red; */
    width: 50%;
    float: right;
    margin: auto;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #f5f5dc;
    color: #000;
}

.head a {
    text-decoration: none;
    color: #f5f5dc;
    color: #000;
}

/* .head__logo {
    width: 184px;
    height: 45px;
} */

.main {
    display: flex;
}

.content {
    margin-left: 220px;
    padding: 0px 100px;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    /* background-color: burlywood; */
}

.sidenav {
    height: 100%;
    min-width: 150px;
    width: -moz-fit-content;
    width: fit-content;
    position: fixed;
    left: 0;
    background-color: #c3001e;
    background-color: #00c3a6;
    overflow-x: hidden;
    padding: 50px 30px;
    color: #f5f5dc;
    color: #000;
}

.sidenav__menu {
    font-size: 18px;
    line-height: 28px;
    text-decoration: none; /* Убираем подчёркивание */
    color: #f5f5dc;
    color: #000;
}

.sidenav__summary {
    font-size: 24px;
}

.sidenav__details {
    display: none;
}

.sidenav__not_details {
    display: unset;
}

.btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D;
    background: #770012;
    background: #00c3a6;
    background: #c3001e;
    color: #f5f5dc;
    color: #000;
    padding: .5rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
    width: 200px;
    font-weight: bold;
}

.form-label {
    display: block;
    float: left;
    width: 150px;
}

.form-error {
    color: brown;
}

.form-name {
    width: 150px;
    margin-left: 20px;
}

.img-block {
    width: 200px;
    height: 200px;
    background-size: cover;
    display: inline-block;
    overflow:hidden;
}

.img-kite {
    max-height: 100%;
    border-radius: 20%;
}




@media screen and (max-width: 576px) {
    h1 {
        font-size: 18px;
        line-height: 18px;
    }

    .head__left {
        font-size: 18px;
        line-height: 18px;
    }

    .head__right {
        font-size: 18px;
        line-height: 18px;
    }

    /* .main {
        flex-direction: column;
        align-items: flex-start;
    } */
    
    .sidenav {
        position: fixed;
        width: 100%;
        height: unset;
        padding: 0px 20px;
    }
    
    .sidenav__menu {
        font-size: 16px;
        line-height: 24px;
    }

    .sidenav__summary {
        font-size: 18px;
    }

    .sidenav__details {
        display: unset;
    }

    .sidenav__not_details {
        display: none;
    }
    
    .content {
        margin: 0px 20px;
        padding: 70px 0px;
    }

    .btn {
        width: -webkit-fill-available;
    }

    .img-block {
        width: 100px;
        height: 100px;
    }

}



@media screen and (max-width: 450px) {
    label {
        width: 70px;
    }

    textarea {
        width: 90%;
    }

    .head {
        flex-direction: column-reverse;
    }

    .head__left {
        width: 100%;
    }
    
    .head__right {
        /* text-align: left; */
        width: 100%;
    }

    .head__left > p {
        margin: 5px;

    }
    .head__right > p {
        margin: 5px;
    }
}