<!-- forms\templates\django\forms\widgets\clearable_file_input.html -->
{% if widget.is_initial %}
<a href="{{ widget.value.url }}"><img src="{{ widget.value.url }}" width="70" alt="{{ widget.value }}"></a>
{% if not widget.required %}
<br><label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}: </label>
<input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %}>
{% endif %}<br>
{{ widget.input_text }}:
{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>